body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #131842;
  padding: 20px;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-top: 4px solid #674188;
}

h2 {
  color: #674188;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
}

/* Table Styling */
.table-container {
  margin-top: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

th,
td {
  padding: 15px 20px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

th {
  background-color: #674188;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #e2bfd9;
}

tr:hover {
  background-color: #ebe9e8;
}

.errorMsg {
  color: #c82333;
  margin-bottom: 15px;
}

/* Button Style */
.btn {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.2s;
  margin-right: 15px;
}

.btn-primary {
  background-color: #674188;
}
.btn-danger {
  background-color: #dc3545;
}
.btn-info {
  background-color: #33bee5;
}
.btn:hover {
  transform: translateY(-2px);
}
.btn-add {
  background-color: #533366;
}

/* Form */
form {
  padding: 10px;
}
label {
  font-weight: 700;
  font-size: 14px;
  display: block;
  margin-top: 10px;
}
input {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}
